FileShareingSystemHost/Connected Services/FileUploadeService/FileShareingSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileShareingSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileShareingSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="requestFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComonId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UplodeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestFile" nillable="true" type="tns:requestFile" />
</xs:schema>